// ========================================
// t-spip-text
// .
// Styles des contenus issus des champs
// textes de Spip
// ========================================

@use "sass:map";
@use "sass:color";
@use "../abstracts";
@use "sass-rem/rem";

.t-spip-texte {
  font-size: rem.convert(18px);
  line-height: 1.333;

  & p,
  & ul,
  & ol,
  & dl,
  & blockquote {
    margin-bottom: 1.5rem;
  }


  // Liens
  // ========================================
  & a {
    color: currentColor;
    border-bottom: rem.convert(1px) solid map.get(abstracts.$red, "400");
    transition: color 0.3s ease;

    &:visited {
      color: map.get(abstracts.$red, "100");
    }

    &:hover {
      color: map.get(abstracts.$red, "300");
    }
  }


  // Paragraphes
  // ========================================
  // & p {}


  // Notes : appel de note
  // ========================================
  & .spip_note_ref {
    color: map.get(abstracts.$red, "400");
    font-size: rem.convert(14px);
    vertical-align: super;
  }

  & .spip_note {
    color: map.get(abstracts.$site-colors, "text");
    border-color: transparent;
  }

  // Notes : texte de note
  // ========================================

  // Règles définies dans pages/_articles > .p-article_notes


  // Intertitres
  // ========================================
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;

    &::before {
      content: "—";
      margin-right: 0.5rem;
      color: map.get(abstracts.$site-colors, "primary");
    }
  }

  & h2 {
    font-size: rem.convert(24px);
    line-height: 1;
    font-weight: 400;
  }

  & h3 {
    font-size: rem.convert(20px);
  }

  & h4 {
    font-size: rem.convert(18px);
    line-height: 1.333;
  }

  & h5 {
    font-size: rem.convert(16px);
    line-height: 1.5;
  }

  & h6 {
    font-size: rem.convert(16px);
    font-style: italic;
    line-height: 1.5;
  }

  // Listes
  // ========================================
  & ul,
  & ol {
    margin-bottom: 1.5rem;
    margin-left: 1rem;

    & li {
      &::marker {
        color: map.get(abstracts.$red, "400");
      }
    }
  }

  & ul {
    list-style-type: square;

    & ul {
      margin-bottom: 0;
    }
  }

  & ol {
    list-style-type: decimal;
  }

  & p + ul,
  & p + ol {
    margin-top: -1.5rem;
  }


  // HR
  // ========================================

  $color-gradient-1: map.get(abstracts.$site-colors, "background");
  $color-gradient-2: map.get(abstracts.$red, "500");

  & hr {
    margin: 3rem 0;
    border: none;
    height: 2px;
    background: linear-gradient(
      90deg,
      $color-gradient-1 0%,
      $color-gradient-2 50%,
      $color-gradient-1 100%
    );
  }


  // Tableaux
  // ========================================

  $color-table-bg: map.get(abstracts.$gray, "blue", "600");
  $color-table-border: map.get(abstracts.$gray, "blue", "700");

  & table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.25rem;
    border-bottom: rem.convert(1px) solid rgba($color-table-bg, 0.8);
  }

  & tr:nth-of-type(even) {
    background: rgba($color-table-bg, 0.3);
  }

  & th {
    background: rgba($color-table-bg, 0.8);
    font-weight: 600;
  }

  & td,
  & th {
    padding: rem.convert(6px);
    border-width: 0;
    text-align: left;
  }

  & caption {
    color: map.get(abstracts.$gray, "blue", "400");
  }

  // Citations
  // ========================================

  & q {
    font-style: italic;
  }

  & blockquote {
    border-left: rem.convert(2px) solid map.get(abstracts.$red, "700");
    margin-left: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  // Code
  // ========================================

  & code,
  & .spip_code {
    @apply font-mono;
    font-size: rem.convert(14px);
  }

  // Images en illustrations
  // ========================================

  // TODO: A revoir en fonction des styles pour les écrans plus larges.
/*
  & .spip_document {
    display: flex;
    justify-content: center;
    align-items: center;

    & img,
    & svg {
      max-width: 100%;
      height: auto;
    }
  }

  // Positionnements
  & .spip_document_center {
    clear: both;
    display: block;
    width: 100%;
    margin: 6rem auto;
  }

  & .spip_document_left {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 33%;
  }

  & .spip_document_right {
    float: right;
    margin-left: 1.5rem;
    max-width: 33%;
  }

  // Figure
  & .spip_doc_inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
  }

  & .spip_doc_lien {
    display: inline-block;
    border-bottom: 0;
  }

  & .spip_doc_legende {
    border-left: rem.convert(1px) solid color.scale(map.get(abstracts.$site-colors, "primary"), $alpha: -50%);
    margin-top: 0.5rem;
    padding-left: 1rem;
    width: 0;
    min-width: 100%;
    font-size: 1rem;
  }

  & .spip_doc_titre {
    & strong {
      font-weight: 400;
    }
  }

  & .spip_doc_descriptif,
  & .spip_doc_credits {
    font-weight: 300;
    margin-top: 0.25rem;
  }

  & .spip_doc_credits {
    font-size: rem.convert(14px);
    color: color.scale(#fff, $alpha: -30%);
  }
*/
}
