.spip-admin-float {
	display: flex;
	top: auto !important;
	right: auto !important;
	bottom: 0 !important;
	left: 0 !important;
}

.spip-admin-float .spip-admin-boutons {
  margin: 0 0.25rem 0 0;
  border-radius: 0;
  @apply font-mono;
  @apply text-2xs;
  @apply bg-gray-400;
  @apply text-black;
  text-align: left;
  opacity: 1;
}

.spip-admin-float .spip-admin-boutons:hover {
  @apply bg-gray-300;
}
