<article class="article-selection">
  <a href="{{ .Permalink }}" class="article-selection__link">
    <h1 class="article-selection__title">{{ .Title }}</h1>
    <div class="media">
      <div class="media__img"><img src="{{ .Site.BaseURL}}{{ .Params.image }}" alt=""></div>
      <div class="media__body article-selection__desc text">
        {{- partial "resume/article-desc.html" . -}}
        <p class="more more--selection"><span class="more-span">Lire la suite</span></p>
        <p class="feature__meta">{{ .Date.Format "02/01/2006" }} &middot; {{.Params.section_title}}</p>
      </div>
    </div>
  </a>
</article>
