<article class="rubrique">
  <header class="rubrique__header">
    <h1 class="rubrique__titre text-3xl md:text-4xl">{{ .Title }}</h1>
  </header>
    {{ range first 1 .Pages }}
      <div class="selection">
        {{- partial "actualites-selection.html" . -}}
      </div>
    {{ end }}

    <div class="grid">
      {{ range after 1 .Pages }}
        <div class="grid-cell md:w-1/2">
          <div class="feature-section">
            {{- partial "resume/actualite.html" . -}}
          </div>
        </div>
      {{ end }}
    </div>
</article>
