<aside class="menu-mobile js-menu-mobile">
  <div class="container">
    <div class="wrapper flex-col">
      <div class="flex items-baseline justify-between w-full">
        {{- partial "site-logo.html" . -}}
        <div>
          {{- partial "btn-burger.html" . -}}
        </div>
      </div>
      <ul class="menu-list py-8">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
        <li class="menu-item menu-item--mobile">
          <a class="menu-link menu-link--mobile text-4xl {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Title }}</a>
        </li>
        {{ end }}
        <li class="menu-item menu-item--mobile">
          <a class="menu-link menu-link--mobile text-4xl" href="/">Recherche</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
