// ========================================
// variables couleurs
// ========================================


$black: #000 !default;
$white: #fff !default;

$red: (
  "500": #e51a1a,
  "600": #dc2626,
) !default;

$gray: (
  "900": #1c1917,
) !default;
