// ========================================
// breakpoints variables
// ========================================

$breakpoints: (
  xsm: 400px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  // Valeurs d'ajustement
  mobileSearch: 380px,
);

@use "sass-mq/mq" with ($breakpoints: $breakpoints);
@forward 'sass-mq/mq';
