// ========================================
// p-article
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

// Couleur du filet en arrière plan
$color-body-bg: rgba(map.get(abstracts.$red, "700"), 0.7);

// Règles relative à la structure
// ========================================

.p-article {
  padding-top: 4rem;
  @include abstracts.mq($from: lg) {
    padding-top: 8rem;
  }
}

.p-article_header {
  padding-bottom: 6rem;
}

.p-article_body {

  // Variante sur 2 colonnes
  // ========================================
  &.-grid {
    // Un filet entre les 2 colonnes est ajouté en arrière plan
    @include abstracts.mq($from: md) {
      // [1] Le calcul de la position du filet doit tenir compte de la moitié de la valeur de la gouttière
      // de la grille *en plus* de la largeur totale du conteneur.
      // Cf. https://www.rawkblog.com/2018/03/css-grid-understanding-grid-gap-and-fr-vs-auto-units/
      background: linear-gradient($color-body-bg, $color-body-bg) unquote("calc((100% + 2rem) / 3)"); // [1]
      background-size: 1px 100%;
      background-repeat: no-repeat;
    }
  }
}

.p-article_bodySection {

  // Variante grille
  // ========================================
  &.-grid {
    display: grid;

    // Dans un contexte "grid" plusieurs variantes sont possibles :
    // [1]  Variante -texte :
    //      1 colonne par défaut ; 2 colonnes écran >= lg.
    //      Elle est appliquée au contenu principal de l'article.
    // [2]  Variante -portfolio :
    //      1 colonne.
    //      Elle est appliquée aux images en version slider.
    // [3]  Variante -footer :
    //      1 colonne par défaut ; 2 colonnes sur écran >= lg
    //      Les blocs enfants sont disposés différemment selon les mq.


    // [1] Variante -texte
    // ========================================
    &.-texte {
      // Par défaut, grille sur 1 colonne.

      // Version par défaut
      & .p-article_section {

        // Le texte de l'article en premier
        // &.-textePrincipal {
        //   grid-row: 1 / 2;
        // }

        &.-logo {
          &.t-spip-texte {
            & .spip_document_image {
              margin-top: 0;
              margin-bottom: 4rem;
            }
          }
        }

        // La section secondaire en dernier
        // &.-texteSecondaire {
        //   grid-row: 3 / 4;
        // }
      }

      // Version mq >= lg
      @include abstracts.mq($from: md) {
        // Présentation sur 2 colonnes
        grid-template-columns: 1fr 2fr;
        gap: 0 4rem;

        & .p-article_section {

          // Texte principal de l'article à droite.
          &.-textePrincipal {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }

          // Le logo à gauche
          // Remarque : Le logo est étendu sur un nombre total de 4 lignes,
          // alors que la grille n'en comporte que 3. Cela permet que la hauteur
          // de la colonne de gauche qui contient le logo est d'une hauteur
          // égale à la colonne de droite.
          &.-logo {
            grid-column: 1 / 2;
            grid-row: 1 / span 3;
          }

          // Texte secondaire à droite.
          &.-texteSecondaire {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }
        }
      }
    }

    // [3] Variante -footer
    // ========================================
    &.-footer {
      // 1 colonne par défaut.

      & .p-article_section {
        &.-texteSecondaire {
          // Surcharger la disposition de ce type de bloc déjà défini plus haut.
          grid-row: auto;
        }
      }

      // Version mq >= lg
      @include abstracts.mq($from: lg) {
        // 2 colonnes
        grid-template-columns: 1fr 2fr;
        gap: 0 3rem;

        & .p-article_section {

          // La date de l'article est disposé à droite.
          &.-texteSecondaire {
            grid-column: 2 / 3;
          }
        }
      }
    }
  }
}


// Règles relatives au contenu
// ========================================
.p-article_titre {
  margin-bottom: 1rem;
  font-size: rem.convert(24px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.p-article_soustitre {
  font-size: rem.convert(20px);
  line-height: 1.2;
  color: map.get(abstracts.$gray, "warm", "500");
}

.p-article_chapo {
  margin-bottom: 2rem;

  &.t-spip-texte {
    font-size: 20px;
    line-height: 1.25;
  }
}

.p-article_texte {
  margin-bottom: 3rem;
}

.p-article_notes {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: abstracts.$text-max-width;


  // Redéfinir des règles de t-spip-texte
  &.t-spip-texte {
    & h2 {
      margin: 0 0 1rem;
      font-size: rem.convert(20px);
    }

    & p {
      margin-bottom: 1rem;
      font-size: rem.convert(16px);
    }
  }

  @include abstracts.mq($from: md) {
    margin-left: 0;
  }
}

// .p-article_documents {}

.p-article_date {
  font-weight: 300;
  font-size: rem.convert(16px);
  color: rgba(map.get(abstracts.$site-colors, "text"), 0.5);
}

/*

// 1. Règles relatives à la mise en forme de la structure (grilles)
// 2. Règles relatives au contenu lui-même

// 1. Règles relatives à la mise en forme de la structure (grilles)
// ========================================

.p-article_bodyGrid {
  display: grid;

  // Variante -texte
  // ..
  // Bloc contenant le texte de l'article et le logo et disposé en premier.
  // ..
  &.-texte {
    & .p-article_section {
      &.-textePrincipal {
        grid-row: 1 / 2;
      }

      // La section logo est déplacée sous le texte de l'article
      &.-logo {
        grid-row: 2 / 3;
      }

      &.-texteSecondaire {
        grid-row: 3 / 4;
      }
    }
  }

  // Variante -porfolio
  // ..
  // Bloc disposé en seconde position
  // ..
  // &.-portfolio {}

  // Variante -footer
  // ..
  // Bloc disposé en troisième position
  // ..
  &.-footer {
    & .p-article_section.-texteSecondaire {
      grid-row: auto;
    }
  }
}

// Mise en page sur 2 colonnes à partir de desktop
$color-body-bg: map.get(abstracts.$red, "800");

@include abstracts.mq($from: lg) {
  .p-article_body {
    background: linear-gradient($color-body-bg, $color-body-bg) 50%;
    background-size: 1px 100%;
    background-repeat: no-repeat;
  }

  .p-article_bodyGrid {
    grid-template: auto / 1fr 1fr;
    gap: 0 3rem;

    // Variante -texte
    &.-texte {
      & .p-article_section {
        &.-textePrincipal {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }

        &.-logo {
          grid-column: 1 / 2;
          grid-row: 1 / span 3;
        }

        &.-texteSecondaire {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
      }
    }

    // Variante -portfolio
    &.-portfolio {
      grid-template: auto / auto;
    }

    // Variante -footer
    &.-footer {
      & .p-article_section.-texteSecondaire {
        grid-column: 2 / 3;
      }
    }
  }
}

// 2. Règles relatives au contenu lui-même
// ========================================

// .p-article {
//   padding-top: 3rem;
// }

// .p-article_header {}
*/
