// ========================================
// p-article
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

// Couleur du filet en arrière plan
$color-body-bg: rgba(map.get(abstracts.$red, "700"), 0.7);

// Règles relative à la structure
// ========================================

.p-article {
  padding-top: 4rem;

  @include abstracts.mq($from: lg) {
    padding-top: 8rem;
  }
}

.p-article_header {
  padding-bottom: 4rem;

  @include abstracts.mq($from: lg) {
    padding-bottom: 6rem;
  }
}

.p-article_body {

  // Variante -grid sur 2 colonnes
  // ========================================
  &.-grid {
    // Un filet entre les 2 colonnes est ajouté en arrière plan
    @include abstracts.mq($from: md) {
      // [1] Le calcul de la position du filet doit tenir compte de la moitié de la valeur de la gouttière
      // de la grille *en plus* de la largeur totale du conteneur.
      // Cf. https://www.rawkblog.com/2018/03/css-grid-understanding-grid-gap-and-fr-vs-auto-units/
      background: linear-gradient($color-body-bg, $color-body-bg) unquote("calc((100% + 2rem) / 3)"); // [1]
      background-size: 1px 100%;
      background-repeat: no-repeat;
    }
  }

  // Variante -timeline
  // ========================================
  $tl-container-margin: abstracts.$timeline-container-margin;

  &.-timeline {
    position: relative;
    padding-left: $tl-container-margin;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      content: "";
      width: 1px;
      background-color: map.get(abstracts.$site-colors, "primary");
    }

    @include abstracts.mq($from: md) {
      padding-left: 0;

      &::before {
        left: calc(25% - $tl-container-margin);
      }
    }
  }
}

.p-article_bodySection {

  // Variante grille
  // ========================================
  &.-grid {
    display: grid;

    // Dans un contexte "grid" plusieurs variantes sont possibles :
    // [1]  Variante -texte :
    //      1 colonne par défaut ; 2 colonnes écran >= lg.
    //      Elle est appliquée au contenu principal de l'article.
    // [2]  Variante -portfolio :
    //      1 colonne.
    //      Elle est appliquée aux images en version slider.
    // [3]  Variante -footer :
    //      1 colonne par défaut ; 2 colonnes sur écran >= lg
    //      Les blocs enfants sont disposés différemment selon les mq.


    // [1] Variante -texte
    // ========================================
    &.-texte {
      // Par défaut, grille sur 1 colonne.

      // Version par défaut
      // & .p-article_section {

        // Le texte de l'article en premier
        // &.-textePrincipal {
        //   grid-row: 1 / 2;
        // }

        // La section secondaire en dernier
        // &.-texteSecondaire {
        //   grid-row: 3 / 4;
        // }
      // }

      // Version mq >= lg
      @include abstracts.mq($from: md) {
        // Présentation sur 2 colonnes
        grid-template-columns: 1fr 2fr;
        gap: 0 4rem;

        & .p-article_section {

          // Texte principal de l'article à droite.
          &.-textePrincipal {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }

          // Le logo à gauche
          // Remarque : Ne rien définir et le placement est automatique.
          // &.-logo {}

          // Texte secondaire à droite.
          &.-texteSecondaire {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }
        }
      }
    }

    // [3] Variante -footer
    // ========================================
    &.-footer {
      // 1 colonne par défaut.

      & .p-article_section {
        &.-texteSecondaire {
          // Surcharger la disposition de ce type de bloc déjà défini plus haut.
          grid-row: auto;
        }
      }

      // Version mq >= lg
      @include abstracts.mq($from: lg) {
        // 2 colonnes
        grid-template-columns: 1fr 2fr;
        gap: 0 3rem;

        & .p-article_section {

          // La date de l'article est disposé à droite.
          &.-texteSecondaire {
            grid-column: 2 / 3;
          }
        }
      }
    }
  }

  // Variante -timeline
  // ========================================
  &.-timeline {

    // La colonne de texte est centrée dans la page,
    // en fonction de la largeur max du conteneur
    // .p-article_body et de la largeur max du contenu (600px)

    @include abstracts.mq($from: md) {
      position: relative;
      left: 25%;
      width: 75%;
    }
  }
}


// Règles relatives au contenu
// ========================================

// Règles par défaut

.p-article_titre {
  font-size: rem.convert(24px);
  font-weight: 500;
  line-height: 1.2;

  @include abstracts.mq($from: md) {
    font-size: rem.convert(32px);
  }
}

.p-article_soustitre {
  margin-top: 1rem;
  font-size: rem.convert(24px);
  font-weight: 300;
  line-height: 1.2;
  color: map.get(abstracts.$gray, "blue", "200");

  @include abstracts.mq($from: md) {
    margin-top: 0.5rem;
    font-size: rem.convert(28px);
  }
}

.p-article_chapo {
  margin-bottom: 2rem;

  &.t-spip-texte {
    font-size: 20px;
    line-height: 1.25;
  }
}

.p-article_texte {
  margin-bottom: 4rem;
  @include abstracts.mq($from: md) {
    margin-bottom: 6rem;
  }
}

.p-article_notes {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: abstracts.$text-max-width;

  @include abstracts.mq($from: md) {
    margin-left: 0;
    margin-bottom: 6rem;
  }
}

.p-article_documents {
  margin-bottom: 4rem;
  @include abstracts.mq($from: md) {
    margin-bottom: 6rem;
  }
}

// .p-article_date {}
