@use "sass:map";
@use "../abstracts";

html {
  color: map.get(abstracts.$site-colors, "text");
  background-color: map.get(abstracts.$site-colors, "background");
  font-weight: 400;
  letter-spacing: 0.04rem;
}

// Pied de page en bas de fenêtre quelque soit la hauteur de la page
// cf. https://css-tricks.com/couple-takes-sticky-footer/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
