// ========================================
// l-contenu
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";


// Règles de mise en page communes à tous les contenus

.l-contenu {
  padding-top: 4rem;

  @include abstracts.mq($from: lg) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}


.l-contenu_header {
  padding-bottom: 4rem;

  @include abstracts.mq($from: lg) {
    padding-bottom: 6rem;
  }
}


// .l-contenu_body {}


.l-contenu_titre {
  font-size: rem.convert(24px);
  font-weight: 500;
  line-height: 1.2;

  @include abstracts.mq($from: md) {
    font-size: rem.convert(32px);
  }
}


.l-contenu_titre-enfant {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: rem.convert(28px);
  line-height: 1.2;

  &::before {
    content: "—";
    margin-right: 0.5rem;
    color: map.get(abstracts.$site-colors, "primary");
  }
}


.l-contenu_lien-tous {
  display: block;
  padding: 0.5rem;
  margin: 2rem auto;
  text-transform: uppercase;
  font-size: rem.convert(13px);
  line-height: 1.3;
  border: 1px solid map.get(abstracts.$site-colors, "primary");
  text-align: center;
  border-radius: rem.convert(4px);
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: map.get(abstracts.$site-colors, "primary");
  }
}
