// l-footer
// ========================================

@use "sass:map";
@use "../abstracts";

.l-footer {
  @include abstracts.mq($from: lg) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
