// ========================================
// formulaires Spip
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

// [1] Styles communs à tous les formulaires spip
// [2] Formulaire recherche (modales)


// [1] Styles communs
// ========================================

.formulaire_spip {
  legend {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    // color: $color-primary-500;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  //
  // Reset des styles
  // https://codyhouse.co/blog/post/vertical-text-alignment-in-buttons-and-inputs
  //
  input,
  textarea,
  select,
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    appearance: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem;
    border-width: rem.convert(2px);
    border-style: solid;

    &:focus,
    &:focus-visible {
      outline-offset: rem.convert(2px);
      outline: map.get(abstracts.$purple-deep, "400") solid;
    }
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  //
  // Quelques styles communs de base
  //
  input[type="text"],
  input[type="search"],
  input[type="email"],
  textarea,
  select {
    border-radius: 0.25rem;
    border: rem.convert(1px) solid rgba(map.get(abstracts.$gray, "blue", "900"), 0.2);
    background-color: rgba(map.get(abstracts.$gray, "blue", "100"), 0.8);
    transition: background-color 0.3s ease;
    color: map.get(abstracts.$site-colors, "text-invert");

    &:focus {
      background-color: rgba(map.get(abstracts.$gray, "blue", "100"), 0.99);
    }
  }

  input[type="submit"],
  button[type="submit"] {
    border-radius: 0.25rem;
    border-color: transparent;
    background-color: map.get(abstracts.$purple-deep, "600");
    color: map.get(abstracts.$site-colors, "text");
    // background-color: map.get(abstracts.$site-colors, "background-invert");
    // color: map.get(abstracts.$site-colors, "text-invert");
    transition: background-color 0.3s ease;

    &:hover {
      background-color: map.get(abstracts.$purple-deep, "500");
    }
  }

  input,
  textarea {
    &::placeholder {
      color: map.get(abstracts.$gray, "blue", "300");
      font-style: italic;
    }
  }

  .editer {
    margin-bottom: 1.5rem;
  }

  .erreur_message {
    font-style: italic;
    font-size: rem.convert(15px);
    color: map.get(abstracts.$red, "100");
  }

  .previsu {
    padding: 0 2rem 0.5rem;
    margin-bottom: 3rem;
    background-color: rgba(map.get(abstracts.$gray, "blue", "500"), 0.2);
    border-radius: rem.convert(4px);

    div {
      margin-bottom: 1.5rem;
    }
  }

  .reponse_formulaire {
    padding: 0.25rem 0.5rem;
    border-radius: rem.convert(4px);
    text-align: center;

    &.reponse_formulaire_erreur {
      background-color: rgba(map.get(abstracts.$red, "600"), 0.5);
      color: map.get(abstracts.$red, "500");
      color: map.get(abstracts.$red, "50");

    }

    &.reponse_formulaire_ok {
      background-color: #7cb342;
      color: map.get(abstracts.$gray, "blue", "900");
    }
  }
}


// [2] Formulaire recherche (modales)
// ========================================

// Largeur du bouton submit
$searchbox-btn-width: 8rem;

.l-recherche_form {
  & .editer-groupe {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-recherche_label {
  flex: 0 0 100%;
  font-weight: 600;
  font-size: rem.convert(20px);
}

input[type="search"].l-recherche_input {
  flex: 2 0 auto;
  margin-bottom: 0.5rem;
}

button[type="submit"].l-recherche_btn {
  flex: 1 0 $searchbox-btn-width;
  margin-bottom: 0.5rem;

  @include abstracts.mq($from: mobileSearch) {
    flex: 0 0 $searchbox-btn-width;
    margin-left: 0.5rem;
  }
}


.formulaire_spip {
  &.formulaire_ecrire_auteur {
    max-width: abstracts.$text-max-width;
    & input[type="text"],
    & input[type="email"],
    & input[type="submit"],
    & textarea {
      width: 100%;
    }
  }
}
