// ========================================
// formulaires Spip
// ========================================

@use "sass:map";
@use "../abstracts";

// [1] Styles communs à tous les formulaires spip
// [2] Formulaire recherche


// [1] Styles communs
// ========================================

.formulaire_spip {
  // legend {
  //   margin-bottom: 1.5rem;
  //   font-size: 1.5rem;
  //   line-height: 1.5rem;
  //   // color: $color-primary-500;
  // }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="search"],
  input[type="email"],
  textarea,
  select {
    border-radius: 0.375rem;
    border-color: transparent;
    box-shadow: none;
    background-color: map.get(abstracts.$gray, "600");
    transition: background-color 0.3s ease;
    font-weight: 500;
    // line-height: 1.2;
    color: map.get(abstracts.$site-colors, "text-invert");

    &:focus {
      background-color: abstracts.$white;
    }
  }

  input[type="submit"],
  button[type="submit"] {
    appearance: none;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    background-color: map.get(abstracts.$site-colors, "background-invert");
    color: map.get(abstracts.$site-colors, "text-invert");
    transition: background 0.3s ease;

    &:hover {
      background-color: map.get(abstracts.$site-colors, "link-hover");
    }
  }

  input,
  textarea {
    &::placeholder {
      color: map.get(abstracts.$gray, "300");
      font-style: italic;
    }
  }

  .editer {
    margin-bottom: 1.5rem;
  }

  .erreur_message {
    // color: $color-secondary-600;
    font-style: italic;
  }

  .reponse_formulaire {
    padding: 0.25rem 0.5rem;
    // border-radius: 5px;

    // &.reponse_formulaire_erreur {
    //   color: $color-secondary-500;
    //   border: 2px solid $color-secondary-500;
    // }

    // &.reponse_formulaire_ok {
    //   border: 2px solid $color-primary-500;
    // }
  }
}


// [2] Formulaire recherche
// ========================================
// reference https://css-tricks.com/show-search-button-when-search-field-is-non-empty

// Largeur du bouton submit
$searchbox-btn-width: 8.5rem;

.l-recherche_form {
  position: relative;
  z-index: inherit;
  overflow: hidden;
}

.l-recherche_input {
  padding-right: calc(#{$searchbox-btn-width} + 0.5rem);
  width: 100%;

  &:not(:placeholder-shown) ~ .l-recherche_btn {
    transform: translateX(-100%);
  }
}

.l-recherche_btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.15rem;
  left: 100%;
  width: $searchbox-btn-width;
}

button[type="submit"].l-recherche_btn {
  background-color: map.get(abstracts.$site-colors, "primary");
  color: map.get(abstracts.$site-colors, "text");
  transition: transform 0.4s ease;
}
