// ========================================
// c-header
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;

  @include abstracts.mq($from: md) {
    padding-top: 1.5rem;
  }
}
