// ========================================
// page
// ========================================

@use "sass:map";
@use "../abstracts";

// .l-page {}


.l-page_header {
  border-top: map.get(abstracts.$border, "header");
}


.l-page_content {
  padding-top: 5rem;

  @include abstracts.mq($from: md) {
    padding-top: 8rem;
  }
}


.l-page_footer {
  padding-bottom: 1.8rem;

  @include abstracts.mq($from: lg) {
    padding: 3rem 0 3.6rem;
    background-color: rgba(map.get(abstracts.$gray, "blue", "900"), 0.25);
  }
}
