// ========================================
// l-wrapper
// ========================================

@use "../abstracts";
@use "sass-rem/rem";

$logo-pour-width: rem.convert(46px) + 0.75rem; // largeur élément + marge droite

.l-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: abstracts.$wrapper-padding-mobile;
  padding-left: abstracts.$wrapper-padding-mobile;
  width: 100%;
  max-width: 1280px;

  @include abstracts.mq($from: desktop) {
    padding-right: abstracts.$wrapper-padding-desktop;
    padding-left: abstracts.$wrapper-padding-desktop;
  }
}

.l-wrapper-content {
  @include abstracts.mq($from: desktop) {
    margin-left: $logo-pour-width;
    margin-right: $logo-pour-width;
  }
}
