// ========================================
// l-wrapper
// ========================================

@use "../abstracts";
@use "sass-rem/rem";

.l-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: abstracts.$wrapper-padding-mobile;
  padding-left: abstracts.$wrapper-padding-mobile;
  width: 100%;
  max-width: abstracts.$wrapper-max-width;

  @include abstracts.mq($from: sm) {
    padding-right: abstracts.$wrapper-padding-desktop;
    padding-left: abstracts.$wrapper-padding-desktop;
  }
}

.l-wrapper-content {
  @include abstracts.mq($from: lg) {
    margin-left: abstracts.$wrapper-content-margin-left;
  }
}
