// ========================================
// c-breadcrumb
// ========================================

@use "sass:map";
@use "../abstracts";

.c-breadcrumb {
  padding-bottom: 2rem;
}

.c-breadcrumb_list {
  display: flex;
  flex-wrap: wrap;
  @include abstracts.mq($from: lg) {
    margin-left: abstracts.$wrapper-content-margin-left;
  }
}

.c-breadcrumb_item {
  display: flex;
  margin-right: 0.5rem;
  color: map.get(abstracts.$site-colors, "primary");

  &::before {
    color: map.get(abstracts.$red, "700");
    content: "\203A";
    margin-right: 0.5rem;
  }
}

.c-breadcrumb_link {
  color: map.get(abstracts.$gray, "blue", "100");
  transition: color 0.3s ease;

  &:hover {
    color: map.get(abstracts.$site-colors, "primary");
  }
}

// .c-breadcrumb_name {}
