// ========================================
// c-dialog (modal)
// ========================================

@use "sass:map";
@use "../abstracts";


.c-dialog,
.c-dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


// c-dialog
// ========================================

.c-dialog {
  z-index: abstracts.$zindex-dialog;
  display: flex;


  &[aria-hidden="true"] {
    display: none;
  }

  &.-sitenav-mobile {

    // Adaptations des règles d'affichage en fonction du script js et des animations :
    // [1] Permettre au js de poser un écouteur d'événement sur l'élément enfant
    // [2] Rétablir un display: none sur la modale.
    .js & {
      &[aria-hidden="true"] {
        display: flex; // [1]

        &.is-closed {
          display: none; // [2]
        }
      }
    }

    &.is-visible {
      display: flex;
    }
  }
}


// c-dialog_overlay
// ========================================

$bg-overlay: map.get(abstracts.$gray, "900");

.c-dialog_overlay {
  background-color: rgba($bg-overlay, 0.7);
}


// c-dialog_content
// ========================================

.c-dialog_content {
  position: relative;
  z-index: abstracts.$zindex-dialog;
  margin: 0 auto;
  background-color: map.get(abstracts.$site-colors, "background");

  // variante mobile
  &.-sitenav-mobile {
    width: 100%;
  }
}


//
// c-dialog_header
// ========================================

.c-dialog_header {

  // variante mobile
  &.-sitenav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: abstracts.$zindex-dialog + 1;
    border-top: map.get(abstracts.$border, "header");
    // Arrière-plan opaque, dans l'hypothèse d'un contenu avec scroll
    background-color: map.get(abstracts.$site-colors, "background");
  }
}


// c-dialog_body
// ========================================

.c-dialog_body {

  // variante mobile
  // [1] Cet élément doit être défilable
  &.-sitenav-mobile {
    overflow-y: auto; // [1]
    height: 100%; // [1]
    transition: transform 0.6s ease-in-out;

    .js & {
      transform: translateY(100%);
    }

    // Animation début et fin de l'élément
    // en fonction des classes ajoutées/supprimées
    // sur l'élément parent.
    .c-dialog.is-visible & {
      transform: translateY(0);
    }

    .c-dialog.is-closing & {
      transform: translateY(100%);
    }
  }
}

// c-dialog_container
// ========================================

.c-dialog_container {

  .-sitenav-mobile & {
    margin-top: 5em;
    padding: 1rem abstracts.$wrapper-padding-mobile 2rem;
  }
}
