// ========================================
// c-documents
// ..
// Liste des documents (fichiers)
// ========================================

@use "sass:map";
@use "../abstracts";
// @use "sass-rem/rem";


// .c-documents {}


.c-documents_titre {
  margin-bottom: 1rem;
  font-size: 20px; // Corps identique à l'intertitre Notes

  // Règles identiques à tous les intertitres
  &::before {
    content: "—";
    margin-right: 0.5rem;
    color: map.get(abstracts.$site-colors, "primary");
  }
}

.c-documents_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 0;
}
