// ========================================
// c-logo
// ========================================

@use "sass:map";
@use "../abstracts";

.c-logo {
  // position: relative;
  // z-index: 10;
  width: 250px;
}

.c-logo_pour {
  fill: map.get(abstracts.$red, "500");

}

.c-logo_magnelli {
  fill: abstracts.$black;
}
