// ========================================
// c-resume
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";


.c-resume {

  & a {
    transition: color 0.3s ease;
  }

  // resume/article-rubrique-standard
  // ========================================
  &.-standard {
    position: relative;
    // padding-bottom: 3.5rem;
  }

  // resume/article-rubrique-magnelli
  // ========================================
  &.-rubrique-magnelli {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 1.5rem;

    & a {
      &:hover {
        color: map.get(abstracts.$site-colors, "link-hover");
      }
    }

    @include abstracts.mq($from: md) {
      flex-direction: row;
    }
  }
}


.c-resume_texte {

  // Variante -standard
  // ========================================
  .-standard & {
    position: relative;
    margin-left: 30%;
    padding: 1rem;
    background: linear-gradient(0deg, rgba(map.get(abstracts.$red, "600"), 0.8), rgba(map.get(abstracts.$red, "600"), 0.8));
    transform: translateY(-50%);
    border-radius: rem.convert(2px);
  }
}

.c-resume_title {

  // resume/article-rubrique-standard
  // ========================================
  .-standard & {
    font-size: rem.convert(18px);
    line-height: 1.2;
  }

  // resume/article-rubrique-magnelli
  // ========================================

  $tiret-size: rem.convert(24px);
  $tiret-size-md: rem.convert(30px);

  .-rubrique-magnelli & {
    display: flex;
    margin-left: $tiret-size;
    font-size: $tiret-size;

    &::before {
      margin-left: -($tiret-size);
      margin-right: 0.5rem;
      content: "—";
      font-size: $tiret-size;
      color: map.get(abstracts.$site-colors, "primary");
    }
  }

  @include abstracts.mq($from: md) {

    .-rubrique-magnelli & {
      margin-left: $tiret-size-md;
      font-size: $tiret-size-md;

      &::before {
        margin-left: -($tiret-size-md);
        font-size: $tiret-size-md;
      }
    }
  }
}


// .c-resume_subtitle {}


.c-resume_link {
  // resume/article-rubrique-standard
  // ========================================
  &:hover {
    color: map.get(abstracts.$red, "50");
  }

  // resume/article-rubrique-magnelli
  // ========================================
  .-rubrique-magnelli & {

    &:hover {
      color: map.get(abstracts.$site-colors, "link-hover");
    }
  }
}


.c-resume_more {
  // resume/article-rubrique-standard
  // ========================================
  .-standard & {
    margin-top: 0.5rem;
    text-align: right;
  }
}


.c-resume_link-more {
  text-transform: uppercase;
  font-size: 12px;

  // resume/article-rubrique-standard
  // ========================================
  .-standard & {
    &:hover {
      color: map.get(abstracts.$red, "50");
    }
  }

  // resume/article-rubrique-magnelli
  // ========================================
  .-rubrique-magnelli & {
    margin-left: 2rem;
  }
}
