// ========================================
// c-sitenav
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

$color-icon-stroke: map.get(abstracts.$site-colors, "text");
$color-bg-dropdown: map.get(abstracts.$gray, "blue", "700");


// c-sitenav : conteneur
// ========================================
.c-sitenav {
  font-size: rem.convert(18px);
  line-height: 1.11;

  & a,
  & button:not([type="submit"]) {
    text-decoration: underline rgba(map.get(abstracts.$site-colors, "primary"), 0);
    text-underline-offset: rem.convert(8px);
    transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;

    &:hover {
      text-decoration-color: rgba(map.get(abstracts.$site-colors, "primary"), 1);
      text-underline-offset: rem.convert(4px);
    }
  }

  // Variante écrans larges
  // ========================================
  &.-sitenav-lg {
    display: none;
  }

  // Variante mobile
  // ========================================
  // &.-sitenav-sm {}


  // Variante footer
  // ========================================
  &.-sitenav-footer {
    display: none;
    font-size: rem.convert(15px);
  }

  &.-sitenav-lg,
  &.-sitenav-footer {
    @include abstracts.mq($from: lg) {
      display: flex;
    }
  }
}


// c-sitenav_list (ul)
// ========================================
.c-sitenav_list {

  // Variante mobile
  // ========================================
  &.-sitenav-sm {

    // -root : premier niveau
    &.-root {
      display: grid;
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  // Variante large
  // ========================================
  &.-sitenav-lg {

    // -root : premier niveau
    &.-root {
      display: flex;
    }

    // -sub : second niveau
    &.-sub {
      left: 50%;
      top: 100%;
      margin-top: rem.convert(24px);
      min-width: 100%;
      padding: 0.5rem 0 0.75rem;
      width: rem.convert(250px);
      background-color: #2f2f32;// équivalent opaque de rgba($color-bg-dropdown, 0.25);
      border-radius: rem.convert(4px);
      box-shadow: map.get(abstracts.$box-shadow, "l1");
      transform: translate(-50%, 0);
      transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease 0s, visibility 0.1s ease 0s;

      // Arrow tooltip
      &::after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        height: 0;
        width: 0;
        border: rem.convert(12px) solid rgba($color-bg-dropdown, 0);
        border-bottom-color: #2f2f32;
        content: "";
        margin-left: rem.convert(-12px);
        pointer-events: none;
      }

      // Si JS clicky-menu est actif
      &[aria-hidden="true"] {
        transform: translate(-50%, 2rem);
        opacity: 0;
      }

      &[aria-hidden="false"] {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }
  }

  // Variante footer
  // ========================================
  &.-sitenav-footer {

    &.-root {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 2rem;
      gap: 2rem;

      @include abstracts.mq($from: xl) {
        grid-gap: 4rem;
        gap: 4rem;
      }
    }
  }
}


// c-sitenav_item (li)
// ========================================

.c-sitenav_item {

  &.-sub {
    padding-top: 0.5rem;
    display: flex;

    &::before {
      margin-right: 0.5rem;
      content: "—";
      color: map.get(abstracts.$site-colors, "primary");
    }
  }

  // Variante mobile
  // ========================================
  &.-sitenav-sm {

    // -root : premier niveau
    &.-root {
      & > a {
        font-weight: 600;
        font-size: rem.convert(20px);
      }
    }
  }

  // Variante mobile : le formulaire de recherche est disposé sur 2 colonnes
  &.-recherche {
    grid-column: 1 / 3;
  }

  // Variante large
  // ========================================
  &.-sitenav-lg {

    // -root : premier niveau
    &.-root {
      display: flex;
      align-items: flex-end;
      position: relative;

      & > a,
      & button {
        display: flex;
        padding: 0.25rem 0.75rem;
        align-items: baseline;
        font-size: rem.convert(20px);

        &.is-active {
          text-decoration-color: rgba(map.get(abstracts.$site-colors, "primary"), 1);
          text-underline-offset: rem.convert(4px);
        }
      }

      & .icon-dropdown {
        width: 12px;
        height: 12px;
        margin-left: 0.5rem;
        stroke: $color-icon-stroke;
        transition: transform 0.3s ease;
      }

      & .icon-search {
        stroke: $color-icon-stroke;
      }

      & button[aria-expanded="true"] {
        & .icon-dropdown {
          transform: rotate(-180deg);
          transform-origin: 50% 50%;
        }
      }
    }

    // -sub : second niveau
    &.-sub {
      padding: 0.25rem 0.75rem;

      &:first-child {
        & a {
          font-weight: 600;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  // Variante -sitenav-footer
  // ========================================
  &.-sitenav-footer {

    // -root : premier niveau
    &.-root {
      & > a {
        font-weight: 500;
        font-size: rem.convert(17px);
      }
    }

    &.-recherche {
      display: none;
    }
  }
}

// Boutons de déclenchement
.c-sitenav_trigger {

  // bouton d'ouverture -sitenav-mobile
  &.-sitenav-mobile {
    @include abstracts.mq($from: lg) {
      display: none;
    }
  }

  // bouton d'ouverture recherche
  // &.-recherche {}
}
