// ========================================
// c-sitenav
// ========================================

@use "sass:map";
@use "../abstracts";

// Conteneur
.c-sitenav {
  // variante desktop
  &.-sitenav-desktop {
    display: none;

    @include abstracts.mq($from: desktop) {
      display: none;
    }
  }
}

// Liste
.c-sitenav_list {

  // niveau 1
  &.-rootList {

    & li {
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 1.11;
      font-weight: 600;
    }

    // variante mobile
    &.-sitenav-mobile {
      display: grid;
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      // Le conteneur c-sitenav_item pour la recherche
      // est sur 2 colonnes.
      & .c-sitenav_item.-recherche {
        grid-column: 1 / 3;
      }

      & svg {
        display: none;
      }
    }
  }

  // niveau 2
  &.-subList {

    & li {
      padding-top: .5rem;
      text-transform: initial;
      font-weight: 500;
    }

    // variante mobile
    &.-sitenav-mobile {

      & a {
        display: flex;

        &::before {
          content: "—";
          margin-right: .25rem;
          color: map.get(abstracts.$site-colors, "primary");
        }
      }
    }
  }
}

// Bouton hamburger
.c-sitenav_trigger {

  // variante header
  &.-header {
    @include abstracts.mq($from: desktop) {
      display: none;
    }
  }
}
