// ========================================
// c-sitenav
// ========================================

@use "sass:map";
@use "../abstracts";
@use "sass-rem/rem";

$color-icone-stroke: map.get(abstracts.$site-colors, "text");
$color-bg-dropdown: map.get(abstracts.$gray, "blue", "700");


// c-sitenav : conteneur
// ========================================
.c-sitenav {
  font-size: rem.convert(18px);
  line-height: 1.11;

  // Variante écrans larges
  // ========================================
  &.-sitenav-lg {
    display: none;

    @include abstracts.mq($from: lg) {
      display: flex;
    }
  }

  // Variante mobile
  // ========================================
  // &.-sitenav-sm {}
}


// c-sitenav_list (ul)
// ========================================
.c-sitenav_list {

  // Variante mobile
  // ========================================
  &.-sitenav-sm {

    // -root : premier niveau
    &.-root {
      display: grid;
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  // Variante large
  // ========================================
  &.-sitenav-lg {

    // -root : premier niveau
    &.-root {
      display: flex;
    }

    // -sub : second niveau
    &.-sub {
      left: 50%;
      top: 100%;
      margin-top: rem.convert(24px);
      min-width: 100%;
      padding: 0.5rem 0 0.75rem;
      width: rem.convert(250px);
      background-color: #2f2f32;// équivalent opaque de rgba($color-bg-dropdown, 0.25);
      border-radius: rem.convert(4px);
      box-shadow: 0 rem.convert(3px) rem.convert(6px) hsla(0, 0%, 0%, 0.15), 0 rem.convert(2px) rem.convert(4px) hsla(0, 0%, 0%, 0.12);
      transform: translate(-50%, 0);
      transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease 0s, visibility 0.1s ease 0s;

      // Arrow tooltip
      &::after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        height: 0;
        width: 0;
        border: rem.convert(12px) solid rgba($color-bg-dropdown, 0);
        border-bottom-color: #2f2f32;
        content: "";
        margin-left: rem.convert(-12px);
        pointer-events: none;
      }

      // Si JS clicky-menu est actif
      &[aria-hidden="true"] {
        transform: translate(-50%, 2rem);
        opacity: 0;
      }

      &[aria-hidden="false"] {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }
  }
}


// c-sitenav_item (li)
// ========================================

.c-sitenav_item {

  // Variante mobile
  // ========================================
  &.-sitenav-sm {

    // -root : premier niveau
    &.-root {
      & > a {
        font-weight: 600;
        font-size: rem.convert(20px);
      }
    }

    // -sub : second niveau
    &.-sub {
      padding-top: 0.5rem;

      & > a {
        display: flex;

        &::before {
          content: "—";
          margin-right: 0.5rem;
          color: map.get(abstracts.$site-colors, "primary");
        }
      }
    }
  }

  // Variante mobile : le formulaire de recherche est disposé sur 2 colonnes
  &.-recherche {
    grid-column: 1 / 3;
  }

  // Variante large
  // ========================================
  &.-sitenav-lg {

    // -root : premier niveau
    &.-root {
      display: flex;
      align-items: flex-end;
      position: relative;

      & > a,
      & button {
        display: flex;
        padding: 0.25rem 0.75rem;
        align-items: baseline;
        font-size: rem.convert(20px);
      }

      & .icone-dropdown {
        width: 12px;
        height: 12px;
        margin-left: 0.5rem;
        stroke: $color-icone-stroke;
        transition: transform 0.3s ease;
      }

      & .icone-search {
        stroke: $color-icone-stroke;
      }

      & button[aria-expanded="true"] {
        & .icone-dropdown {
          transform: rotate(-180deg);
          transform-origin: 50% 50%;
        }
      }
    }

    // -sub : second niveau
    &.-sub {
      padding: 0.25rem 0.75rem;

      & > a {
        display: flex;

        &::before {
          content: "—";
          margin-right: 0.5rem;
          color: map.get(abstracts.$site-colors, "primary");
        }
      }

      &:first-child {
        & > a {
          font-weight: 600;

          &::before {
            display: none;
          }
        }
      }
    }

    // c-sitenav_label
    // .
    // Ajouter un filet sous chaque item lors du hover.
    // Styles uniquement pour la variante large
    // .
    & .c-sitenav_label {
      position: relative;

      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        content: "";
        height: 1px;
        background-color: map.get(abstracts.$site-colors, "primary");
        opacity: 0;
        transform: translateY(4px);
        transition: transform 0.2s ease-in-out, opacity 0.2s;
      }
    }

    & > a,
    & > button {
      &:hover {
        & .c-sitenav_label {
          &::after {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }

    // Élément en consultation.
    // Seule l'élément racine est concerné.
    &.-root.is-active {
      & > a,
      & > button {
        & .c-sitenav_label {
          &::after {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

// Boutons de déclenchement
.c-sitenav_trigger {

  // bouton d'ouverture -sitenav-mobile
  &.-sitenav-mobile {
    @include abstracts.mq($from: lg) {
      display: none;
    }
  }

  // bouton d'ouverture recherche
  // &.-recherche {}
}
