<article class="feature">
  <a href="{{ .Permalink }}" class="feature__link">
    <h1 class="feature__title">{{ .Title }}</h1>
    <div class="media">
      {{ if isset .Params "image" }}
        <div class="media__img"><img src="{{ .Params.image }}" alt=""></div>
      {{ end }}
      <div class="media__body feature__desc text">
        {{- partial "resume/article-desc.html" . -}}
        <p class="more"><span class="more-span">Lire la suite</span></p>
      </div>
    </div>
  </a>
  <p class="feature__meta">{{ .Date.Format "02/01/2006" }} &middot; {{.Params.section_title}}</p>
</article>
