<article class="feature">
  <a href="{{ .Permalink }}" class="feature__link">
    <h1 class="feature__title">{{ .Title }}</h1>
    <div class="media">
      {{ if isset .Params "image" }}
        <figure class="media__img"><img src="{{ .Site.BaseURL}}{{ .Params.image }}" alt=""></figure>
      {{ end }}
      <div class="media__body {{ if isset .Params "image" }}{{ else }}media__body--noimg{{ end }} feature__desc text ">
        {{- partial "resume/article-desc.html" . -}}
        <p class="more"><span class="more-span">Lire la suite</span></p>
        <p class="feature__meta">{{ .Date.Format "02/01/2006" }} &middot; {{.Params.section_title}}</p>
      </div>
    </div>
  </a>
</article>
