/* =====================================
*  wrapper
*  ===================================== */

  .wrapper {
    @apply flex px-6;
  }


  /* =====================================
  *  grid
  *  ===================================== */

  .grid {
    @apply flex;
  }


/* =====================================
*  page
*  ===================================== */

  .page {
    @apply font-sans;
    padding-top: 109px;
  }


/* =====================================
*  page-header
*  ===================================== */

  .page-header {
    @apply fixed top-0 left-0 z-40 w-full bg-white;
    height: 109px;
  }


/* =====================================
*  page-footer
*  ===================================== */

  .page-footer {
    @apply pt-16 pb-8;
  }

  .pf-section {
    @apply pb-4;
  }

  .pf-section:last-child {
    padding-bottom: 0;
  }

  .pf-section__title {
    @apply font-semibold uppercase;
  }

  .pf-section__item {
    @apply text-sm uppercase;
  }

  .pf-section__link {
    @apply border-b border-orange-700;
    transition: border-color .3s ease, color .3s ease;
  }

  .pf-section__link:hover {
    @apply border-white text-white;
  }

/* =====================================
*  site-logo
*  ===================================== */

  .site-logo {
    @apply relative font-semibold uppercase;
    line-height: 100px;
  }

  .site-logo__s2 {
    @apply text-black;
  }

  .menu-mobile .site-logo__s2 {
    @apply text-white;
  }


/* =====================================
*  menu-mobile
*  ===================================== */

  .menu-mobile {
    @apply block h-full w-full overflow-auto fixed inset-0 z-50 bg-gray-800;
    max-height: 0;
    transition: max-height 1.25s cubic-bezier(0.26, 0.02, 0, 0.99);
    will-change: max-height;
  }

  .menu-mobile.is-open {
    max-height: 100%;
  }

  .menu-btn {
    position: relative;
  }

  .menu-item--mobile {
    @apply block relative opacity-0;
    transition: all .1s 1s ease;
    transform: translateX(-150px);
  }

  .menu-mobile.is-open .menu-item--mobile {
    @apply opacity-100;
    transform: none;
    transition: opacity 1s 1s ease, transform 1s 1s cubic-bezier(0.1, 0.02, 0, 0.99),-webkit-transform 1s 1s cubic-bezier(0.1, 0.02, 0, 0.99);
  }

  .menu-mobile.is-open .menu-item--mobile:nth-child(1) {
    transition-delay: 0.1s;
  }

  .menu-mobile.is-open .menu-item--mobile:nth-child(2) {
    transition-delay: 0.2s;
  }

  .menu-mobile.is-open .menu-item--mobile:nth-child(3) {
    transition-delay: 0.3s;
  }

  .menu-mobile.is-open .menu-item--mobile:nth-child(4) {
    transition-delay: 0.4s;
  }

  /* .menu-list {} */

  .menu-link--mobile {
    @apply text-white;
  }

  .menu-link--mobile:hover {
    @apply text-orange-700;
  }

  .menu-link--header {
    @apply text-orange-700 border-b-2 border-white;
    transition: border-color .3s ease;
  }

  .menu-link--header:hover {
    @apply border-orange-700;
  }


/* =====================================
*  btn
*  ===================================== */

  /*
  *  btn-burger
  *  ------------------------------------- */

    /* source animation https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */

    /* .btn-burger {} */

    .btn-burger__box {
      @apply inline-block relative h-6 w-6;
    }

    .btn-burger__inner {
      @apply block top-1/2;
      margin-top: -2px;
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .btn-burger__inner,
    .btn-burger__inner::before,
    .btn-burger__inner::after {
      @apply absolute h-1 w-6 rounded bg-black;
      transition: transform .15s ease;
      will-change: transform;
    }

    .menu-mobile .btn-burger__inner,
    .menu-mobile .btn-burger__inner::before,
    .menu-mobile .btn-burger__inner::after {
      @apply bg-white;
    }

    .btn-burger__inner::before,
    .btn-burger__inner::after {
      content: '';
      display: block;
    }

    .btn-burger__inner::before {
      top: -8px;
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    .btn-burger__inner::after {
      bottom: -8px;
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .btn-burger.is-open .btn-burger__inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-burger.is-open .btn-burger__inner::before {
      @apply top-0 opacity-0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .btn-burger.is-open .btn-burger__inner::after {
      @apply bottom-0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }


/* =====================================
*  icon
*  ===================================== */

.icon-search {
  height: 24px;
  width: 24px;
}
