@screen sm {
  .page {
    padding-top: 118px;
  }

  .wrapper {
    padding-left: 5rem;
    padding-right: 3rem;
  }

  .site-logo {
    margin-left: -5rem;
  }
}


@screen md {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .media {
    flex-direction: row;
  }

  .media__img {
    width: 30%;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .media__body {
    width: 70%;
  }

  .media__body--noimg {
    width: 100%;
  }

  .article {
    max-width: 700px;
  }
}


@screen xl {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
