@screen sm {
  .page {
    padding-top: 118px;
  }

  .wrapper {
    padding-left: 5rem;
    padding-right: 3rem;
  }

  .site-logo {
    margin-left: -5rem;
  }

  .article__body {
    font-size: 1.25rem;
  }

  .c-pagination__text {
    display: inline;
  }

  .breadcrumb__page {
    display: inline;
  }
}


@screen md {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .media {
    flex-direction: row;
  }

  .media__img {
    width: 30%;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .media__body {
    width: 70%;
  }

  .media__body--noimg {
    width: 100%;
  }

  .content-container {
    max-width: 700px;
  }

}

@screen lg {
  .article__body,
  .c-nav__list {
    margin-bottom: 4rem;
  }
}


@screen xl {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
