{{ define "main" }}
<div class="container">
  <div class="wrapper">
    {{ with .Site.GetPage "/association/association.md" }}
    <div class="grid">
      <div class="grid-cell md:w-2/3">
        <div class="intro text text--larger">
          {{ .Summary }}
          <p class="more"><a href="{{ .Permalink }}" class="more-link">Lire la suite</a></p>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="grid grid--large">
      {{- with .Site.GetPage "/abecedaire/01.md" -}}
      <div class="grid-cell md:w-1/2">
        <article class="feature-section">
          <h1 class="feature-section__title feature-section__title--abecedaire"><span>M</span> comme… {{ .Title }}</h1>
          <div class="feature-section__text text">
            {{ .Content }}
          </div>
        </article>
      </div>
      {{- end -}}
      {{- $actus := where (where $.Site.Pages ".Section" "eq" "actualites") ".Kind" "eq" "page" -}}
      <div class="grid-cell md:w-1/2">
        <section class="feature-section">
          <h1 class="feature-section__title">{{ with .Site.GetPage "section" "actualites" }}{{ .Title }}{{ end }}</h1>
          {{- range first 3 $actus.ByDate.Reverse -}}
            <article class="feature">
              <a href="{{ .Permalink }}" class="feature__link">
                <h1 class="feature__title">{{ .Title }}</h1>
                <div class="feature__desc text">
                  {{ .Summary }}
                </div>
              </a>
              <p class="feature__meta">{{ .Date.Format "02/01/2006" }} &middot; {{.Params.section_title}}</p>
            </article>
          {{- end -}}
        </section>
      </div>
    </div>
  </div>
</div>
{{ end }}
